<section id="builder" class="custom-section-padding" data-magellan-target="builder">
  <div class="custom-section-header-group">
    <h2 class="custom-section-header-title">{{builder-title}}</h2>
    <hr class="custom-section-header-hr">
  </div>
  <div class="builder__group">
    <div class="builder__column-box">
      <h3 class="builder__header">{{builder-header}}</h3>
      <img src="{{root}}assets/img/{{global.builder-logo}}" alt="amacon logo" class="builder__logo">
    </div>
    <div class="builder__column-box">
      <div class="custom-p">
        <p class="builder__desc">{{builder-desc-a}}</p>
        <p class="builder__desc">{{builder-desc-b}}</p>
        <a class="builder__link" href="{{global.builder-link}}">{{builder-link}}</a>
      </div>
    </div>
  </div>
</section>
