<section id="gallery" class="custom-section-padding" data-magellan-target="gallery">
  <div class="custom-section-header-group">
    <h2 class="custom-section-header-title">{{gallery-title}}</h2>
    <hr class="custom-section-header-hr">
  </div>
  <div class="gallery__img-group">
    <img src="{{root}}assets/img/{{gallery-img1}}" alt="{{gallery-alt}}" class="gallery__img-main">
    <div class="gallery__sub-group">
      <img src="{{root}}assets/img/{{gallery-img2}}" alt="{{gallery-alt}}" class="gallery__img">
      <img src="{{root}}assets/img/{{gallery-img3}}" alt="{{gallery-alt}}" class="gallery__img">
    </div>
  </div>
  <div class="gallery__content">
    <h3 class="gallery__header">{{gallery-header}}</h3>
    <p class="custom-p">{{gallery-desc}}</p>
  </div>
  <div class="gallery__img-group">
    <div class="gallery__sub-group">
      <img src="{{root}}assets/img/{{gallery-img4}}" alt="{{gallery-alt}}" class="gallery__img">
      <img src="{{root}}assets/img/{{gallery-img5}}" alt="{{gallery-alt}}" class="gallery__img">
    </div>
    <img src="{{root}}assets/img/{{gallery-img6}}" alt="{{gallery-alt}}" class="gallery__img-main">
  </div>
</section>
